@font-face {
    font-family: 'Virgil';
    src: url('../public/fonts/Virgil.woff2') format('truetype');
}

@font-face {
    font-family: 'Coustard-Regular';
    src: url('../public/fonts/Coustard-Regular.ttf') format('truetype');
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    width: 100%;
    overflow: hidden;
}

#pd-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 30px;
}

.media-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-container {
    display: flex;
    /* flex: 1; */
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.details {
    /* flex: 2; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: scroll;
}

.tab-labels {
    flex-direction: row;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.image-container .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    border: none;
}

.image-container:hover .delete-button {
    display: block;
    color: red;
}

.image-container .edit-button {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    border: none;
}

.image-container:hover .edit-button {
    display: block;
    color: white;
}

.button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
        sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button:hover,
.button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

.button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

.tab {
    font-family: 'Virgil';
}

@media (max-width: 767px) {
    .media-content {
        flex-direction: column;
    }

    .image-container,
    .details {
        width: 100%;
    }

    .card {
        flex-direction: column;
        width: 90%;
        height: 90%;
    }
}

#simple-tab-0 {
    font-family: 'Virgil';
    color: #79a6a3;
}

#simple-tab-0 span {
    color: #79a6a3;
}

#simple-tab-1 {
    font-family: 'Virgil';
    color: #79a6a3;
}

#simple-tab-2 {
    font-family: 'Virgil';
    color: #79a6a3;
}

#details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#action-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    gap: 20px;
}

#common_name {
    font-family: 'Coustard-Regular';
    font-size: 32px;
}

