@font-face {
  font-family: 'Cupcakie';
  src: url('../public/fonts/Cupcakie.otf') format('truetype');
}

@font-face {
  font-family: 'Virgil';
  src: url('../public/fonts/Virgil.woff2') format('truetype');
}

@font-face {
  font-family: 'Coustard-Regular';
  src: url('../public/fonts/Coustard-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.paper {
  position: relative;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.button {
  margin-left: 16px;
}

.dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.todo-list {
  padding: 16px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.checkbox {
  margin-right: 8px;
}

#due-date {
  font-family: 'Virgil';
}

#u-due-date {
  font-family: 'Virgil';
}

.completed {
  text-decoration: line-through;
}

.close-button {
  color: #1976D2;
}

#upcoming-label {
  font-family: 'Cupcakie';
  font-size: 75px;
  color: #FFA2A2;
}

#current-date-label {
  font-family: 'Cupcakie';
  font-size: 75px;
  color: #FFA2A2;
}

#common_name1 {
  font-family: 'Virgil';
  font-size: medium;
}

#todo-item1 {
  font-family: 'Virgil' !important;
  font-size: medium;
}

#common_name2 {
  font-family: 'Virgil';
  font-size: medium;
}

#todo-item2 {
  font-family: 'Virgil';
  font-size: medium;
}

#common_name3 {
  font-family: 'Virgil';
  font-size: medium;
}

#todo-item3 {
  font-family: 'Virgil';
  font-size: medium;
}

#dashboard-title {
  font-family: 'Coustard-Regular';
  color: #79A6A3;
}

#add-task-button {
  font-family: 'Virgil';
  background-color: #79A6A3;
  color: white;
  border: transparent;
}

#add-task-button:hover {
  filter: brightness(125%);
}

#img1 {
  border-radius: 50px;
}

#img2 {
  border-radius: 10px;
}

#img3 {
  border-radius: 10px;
}

#weather-icon {
  width: 50%;
  height: auto;
}

#weather-heading {
  font-family: 'Virgil';
  padding-bottom: none;
}

#temp {
  font-family: 'Virgil';
}

#weather-description {
  font-family: 'Virgil';
}

#weather-img-container {
  display: flex;
  justify-content: center;
}

#weather-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-card {
  background-color: transparent;
  box-shadow: none;
}

#dashboard-plant-img {
  padding: 10px;
  width: 50%;
}

#sidedrawer-container {
  padding: 15px;
}

#hamburger {
  width: 50px;
  height: auto;
  margin-left: 0;
}

#dashboard-header {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#title-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#dashboard-plant-img-container {
  transition: transform 0.3s ease-out;
  padding-bottom: 1vh;
}

.fixed-plant-image {
  position: relative;
  top: auto;
  bottom: 1%;
}

.todo-list li label span {
  font-family: 'Virgil';
  font-size: medium;
}

.todo-list ul li div p {
  font-family: 'Virgil';
}

div img {
  border-radius: 10px;
}
